<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid">
		<br>
		<h2>Category: Good Health and Well-Being (Data Visualization Project)</h2>
		<br>
		<div class="row">
			<div class="col-sm-8">
				<h3>Project Objective:</h3>
				<p>To find the reason of increasing in rate of obesity for the people in Malaysia based on social media context.</p>
				<h3>Problem Statement:</h3>
				<p>Malaysia is rated as the highest Southeast Asian nations for obesity. Obesity is second behind smoking in its association with cancer. Tackling obesity as the root cause of cancer would also promote the good health and well-being of the public.</p>
				<h3>Introduction: </h3>
				<blockquote class="blockquote text-center">
					<p>Malaysia has the highest rate of obesity and overweight among Asian countries with <b style="color: #B76E79; font-size: 30px">64%</b> of male and <b style="color: #B76E79; font-size: 30px">65%</b> of female population being either obese or overweight.</p>
					<footer class="blockquote-footer"><cite title="Source Title">Ministry of Health in Malaysia and the
							World Health Organization (WHO)</cite></footer>
				</blockquote>
				<p>Thus, it is important to find the reason of obesity that happened across Malaysia so that the government and private sectors can work together to <b>reduce the rate of obesity</b> in Malaysia.</p>
				<p>In order to find out the reason, our team decide to analyse the food that consume most by Malaysian based on social media context, Twitter in this case.</p>
				<p>Then, we correlated the <b>tweet data</b> with 2 more sources of data which are <b>geolocation data of KFC and McDonald</b> and <b>price data of chicken</b>, in hope to discover more insights about the reason that causes rate of obesity to increase in different states across Malaysia.</p>
			</div>
			<div class="col-sm-4">
				<h3>Dataset Used:</h3>
				<div class="list-group">
					<a href="http://www.data.gov.my/data/ms_MY/dataset/obesity-among-malaysian-adults-by-state-based-on-national-health-and-morbidity-survey"
						class="list-group-item list-group-item-action" target="_blank">Obesity
						among Malaysian adults by state based on National Health and Morbidity Survey (dataset from
						MAMPU)</a>
					<a href="https://developer.twitter.com/en.html" class="list-group-item list-group-item-action"
						target="_blank">Tweet Data (Most Mentioned Food in 2011 and 2015)</a>
					<a href="https://www.openstreetmap.org/" class="list-group-item list-group-item-action"
						target="_blank">Geo Data (Branch Location of KFC and McDonald Malaysia)</a>
					<a href="http://pricecatcher.infopengguna.com" class="list-group-item list-group-item-action"
						target="_blank">Price Data (Chicken Price Data Crawled from pricecatcher)</a>
				</div>
				<br>
				<p class="mb-1">If you need the <b>3 external data</b> that we used, do contact <a
						href="mailto:erichooi1995@gmail.com">eric.khoo</a> or <a href="mailto:fadilaharrifin@gmail.com">fad_ariffin</a></p>
				</h5>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h2 class="text-center" style="color: #B76E79">Dashboard for Analysis of Obesity based on Social Media Context</h2>
				<div class="embed-responsive embed-responsive-16by9 border rounded-lg">
					<iframe src="https://public.tableau.com/views/ImpactofBBCEProposalonSNAPCaseloads/BBCEDashboard?:embed=t&:display_count=no&:origin=viz_share_link" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<h3>Findings / Conclusion</h3>
			</div>
		</div>
	</div>
</body>

</html>